.budfiles/**
node_modules
.vscode/**
percy-tests
public
.DS_Store
.budfiles/sage/modules.json
.budfiles/sage/cache/development/sage/0.pack
.budfiles/sage/cache/development/sage/1.pack
.budfiles/sage/cache/development/sage/2.pack
.budfiles/sage/cache/development/sage/3.pack
.budfiles/sage/cache/development/sage/4.pack
.budfiles/sage/cache/development/sage/5.pack
.budfiles/sage/cache/development/sage/6.pack
.budfiles/sage/cache/development/sage/7.pack
.budfiles/sage/cache/development/sage/index.pack
.budfiles/sage/cache/development/sage/index.pack.old
.budfiles/sage/cache/production/babel/8a22a09abb781468b485bdeab209e59777a924d7602be90c8bd091ddfcc55d07.json.gz
.budfiles/sage/cache/production/babel/af8c737139001f2399604fe046c9f21b192fb6b3f0ee1b1d7dd241e14ba525ea.json.gz
.budfiles/sage/cache/production/sage/0.pack
.budfiles/sage/cache/production/sage/1.pack
.budfiles/sage/cache/production/sage/2.pack
.budfiles/sage/cache/production/sage/index.pack
.budfiles/sage/cache/production/sage/index.pack.old
