@import 'swiper/swiper-bundle.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'aos/dist/aos.css'; 

body[data-aos-easing=smooth] [data-aos], [data-aos][data-aos][data-aos-easing=smooth] {
  transition-timing-function: cubic-bezier(0.1, 1, 0.16, 1);
}

body{
    background-color: var(--wp--preset--color--background, #fff);
}

.wp-block-columns{
    margin-bottom: 0 ;
}


.btn:hover .under{
    width: 100%;
    --color-secondary: var(--color-primary);
    background-blend-mode: normal;
    opacity: 1;
}

.h6{
    @apply block text-[17px] tracking-[3px] leading-[24px] mt-2 mb-4 font-semibold uppercase;
}

.h5{
    @apply block text-[21px] leading-[32px] mt-4 mb-4 font-bold;
}

.h4{
    @apply block text-[27px] leading-[40px] mt-6 mb-4 font-bold;
}

.h3{
    @apply block text-[34px] leading-[48px] mt-8 mb-4 font-bold;
}

.h2{
    @apply block text-[43px] leading-[56px] mt-10 mb-4 font-bold;
}

.h1{
    @apply block text-[55px] leading-[64px] mt-12 mb-4 font-bold;
}

.container{
    margin-left: auto;
    margin-right: auto;
}

.container-t-10{
    @apply pt-10;
}
.container-b-10{
    @apply pb-5;
}
.container-t-20{
    @apply pt-10;
}
.container-b-20{
    @apply pb-10;
}
.container-t-40{
    @apply pt-20;
}
.container-b-40{
    @apply pb-20;
}
@media screen and (min-width: 1024px) {
    .container-t-10{
        @apply pt-10 
    }
    .container-b-10{
        @apply pb-10
    }
    .container-t-20{
        @apply pt-20
    }
    .container-b-20{
        @apply pb-20
    }
    .container-t-40{
        @apply pt-40
    }
    .container-b-40{
        @apply pb-40
    }
}

:root{
    --color-background: #fff;
    --color-primary: #3551F2;
    --color-secondary: #B2D0E9;
    --color-content: #0E1530;
    --color-headings: #0E1530;
}

#menu-language-container .wpml-ls-item{
    order: 2;
    opacity: 0;
}

#menu-language-container .wpml-ls-current-language{
    order: 1;
    opacity: 1;
}

#menu-language-container:hover .wpml-ls-item{
    opacity: 1;
}

.has-base-font-size{
    line-height: 24px;
}

.smooth{
    @apply transition-all duration-1000 ease-smooth;
}


.has-sm-font-size{
    line-height: 24px;
}
.has-md-font-size{
    line-height: 32px;
}
.has-base-font-size{
    line-height: 24px;
}
.has-md-font-size{
    line-height: 32px;
}
.has-xl-font-size{
    line-height: 40px;
}

.has-2xl-font-size{
    line-height: 48px;
}

.has-3xl-font-size{
    line-height: 56px;
}

.has-4xl-font-size{
    line-height: 64px;
}

.has-5xl-font-size{
    line-height: 112px;
}

figure img{
    margin-left: auto;
    margin-right: auto;
}

.wp-block-image{
    margin-bottom: 0;
}

a{
    cursor: pointer;
}

figure + p{
    margin-top: 16px !important;
}

.container-line:before, .container-line:after{
    content: '';
    z-index: 1;
    position: absolute;
    width: 1px;
    height: 256px;
    background-image: linear-gradient(to top, transparent, var(--container-line-before, transparent));
    left: 50%;
    top: 0;
}

.container-line:after{
    top: auto;
    bottom: 0;
    background-image: linear-gradient(to top, var(--container-line-after, transparent), transparent);
}

.wp-block-media-text__media{
 width: calc(100% - 16px);
}
.wp-block-media-text__content{
    padding-left: 16px !important;
    padding-right: 0 !important;
}

.otgs-development-site-front-end{
    display: none !important;
}

.accordion--single .accordion__content > *{
    display: none;
}

.accordion--single.accordion--open .accordion__content > *{
    display: block;
}

.accordion--single .accordion__content > *:first-child{
    display: block;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.nf-form-fields-required{
    display: none;
}

.frm_form_field{
    margin-bottom: 0 !important;
}

.frm_form_field input[type], .frm_form_field textarea[name]{
    border-radius: 32px !important;
    line-height: 32px !important;
    font-size: 18px !important;
    padding: 16px 64px 16px 32px !important;
    font-weight: 500 !important;
    display: block !important;
    height: auto !important;
    border: 1px solid var(--color-secondary) !important;
    box-shadow: none !important;
}

.frm_fields_container{
    gap: 32px !important;
}

.frm_form_field input[type]:focus{
    border-color: var(--color-primary) !important;
    box-shadow: none !important;
}

.frm_primary_label{
    display: none !important;
}

.frm_button_submit{
    position: absolute !important;
    right: 8px !important;
    bottom: 30px !important;
    line-height: 32px !important;
    padding: 8px 32px !important;
    border-radius: 32px !important;
    background: var(--color-primary) !important;
    text-transform: uppercase !important;
    border: 0 !important;
    box-shadow: none !important;
    transition: all 1s cubic-bezier(0.1, 1, 0.16, 1) !important;
}
.frm_button_submit:hover{
    background: color-mix(in srgb, var(--color-primary) 80%, var(--color-secondary)) !important;
    color: #fff !important;
}

.frm_fields_container{
    position: relative;
}

.floating-image{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    z-index: -1;
    display: inline-block;
}

.floating-image img{
    margin-left: auto;
    margin-right: 0;
}